/* Define variable to customize defaults */
/* $body-bg: #000;
$body-color: rgb(216, 231, 149); */
:root{
    --body-bg: #000;
    --body-color: rgb(215, 236, 236);
}

/* Then import Bootstrap an BootstrapVue SCSS files (order is important)
// @import 'node_modules/bootstrap/scss/bootstrap.scss';
// @import 'node_modules/bootstrap-vue/src/index.scss'; */